body{
    margin: 0;
}
.header{
    background-color: #00a74a;
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.logo{
  width: 200px;
  height: 80px;
  margin: 10px;
}
.logo img{
    width: 120px;
    padding:20px
}
.alinks{
  width: 400px;
  height: 30px;
  margin: 10px;
  margin-top: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.alinks a{
    padding: 8px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    padding-left: 10px;
}
.socialmedia{
  width: 400px;
  height: 30px;
  margin: 10px;
  margin-left: 400px;
  margin-top: 40px;
}
.socialmedia img{
    width: 25px;
    padding-left: 30px;
}
.signin{
    width: 100px;
    height: 30px;
    margin: 10px;
    margin-top: 40px;
}
.signin img{
    width: 25px;
}
@media (max-width:500px){
    .logo img{
        padding-left: 120px;
    }
     .alinks{
        margin-left: 500px;
     }
}