body{
    margin: 0;
}
.burger{
   display: none;
}
.header{
    background-color: #00a74a;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.logo{
  width: 200px;
  height: 80px;
  margin: 10px;
}
.logo img{
    width: 120px;
    padding: 20px;
}
.alinks{
  width: 400px;
  height: 30px;
  margin: 10px;
  margin-top: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.alinks a{
    padding: 8px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    padding-left: 10px;
}
.alinks a:hover{
    color: black;
}
.socialmedia{
  width: 400px;
  height: 30px;
  margin: 10px;
  margin-left: 390px;
  margin-top: 5px;
}

.socialmedia svg:hover{
    fill:black;
    
}
.socialmedia svg{
    fill: white;
    padding-left: 30px;
}
.signin{
    width: 100px;
    height: 30px;
    margin-top: 50px;
    margin-left: -40px;
}
.signin img{
    width: 30px;
    padding-left: 30px;
    margin-top: -11px;
}
@media (max-width:468px){
    .burger{
        display: block;
        width: 40px;
        height: 40px;
        margin-left: -40px;
    }
    .burger svg{
        padding-left: 40px;
    }
    .burger svg:hover{
        fill: white;
    }
    .signin img{
        margin-left: -40px;
    }
   .alinks{
    display: none;
   }
   .socialmedia{
    display: none;
   }
}

